/* COLORS
#9cc5c9 light blue
#b22222 brick red
#f5f0d7 off-white
*/

#header  {
	height: 415px;
	width: 853px;
	background-image: url(../images/big-banner.png);
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;
	position: relative;
}


#buttons img {
    position: static;	
    float: left;
    vertical-align:top;
}

#buttons #practice-areas-flyout ul.flyout {	
    position: absolute;	
    display: none;
    list-style: none; 
    overflow: visible; 
    background: none;
}

#buttons #practice-areas-flyout:hover ul.flyout {	
    display: block;
    position: absolute;
    left: 325;	
    top: 80%;	
    width: 260;	
    height: auto;	
    margin: 0;	
    padding: 0 ;	
    vertical-align:top;
    text-align:top;
    border: 1px solid #b22222;
    padding: 15 5;
    margin: 0;
    background-color: #1d2953;
    color: white;
}

#buttons #practice-areas-flyout ul.flyout li {
    margin: 0;
    text-align:left;
}

#buttons #practice-areas-flyout ul.flyout li a,
#buttons #practice-areas-flyout ul.flyout li a:visited
{
    width:180;
    background: url(../images/arrow.png) 8 0 no-repeat;
    background-color: #374e9e;
    padding: 0 40 8;
    color: white;
    display: block;
    text-decoration: none;
    font-size: 18;
    font-family: sans-serif;
}

#buttons #practice-areas-flyout ul.flyout li a:hover {
    background: url(../images/arrow.png) 8 0 no-repeat;
    background-color: #b22222;
    color: white;
}

#maintable {
    margin-right: auto;
	margin-left: auto;
	position: relative;
	border: none;
}

#maintable table.center {
    width:852;
    border: none;
}

#buttons {
    width: 853px;
    height: 32px;
    border: 1px solid white;
    background-color: fireBrick;
    color: white;
    margin-right: auto;
	margin-left: auto;
	position: static;
	text-align:center;
}

#buttons a, #buttons a:visited {
    text-decoration: none;
}    

td.practice-areas {
    width:280;
    vertical-align:top;
    text-align:top;
    border: 1px solid #b22222;
    padding: 15 5;
    margin: 0;
    background-color: #1d2953;
    color: white;
}

td.practice-areas h1 {
    width:270;
    margin: 0; 
    padding: 0 20 10; 
    font-size: 24;
    font-family: sans-serif;
    color: white;
    text-align:left;
}

td.practice-areas ul {
    margin: 0; 
    padding: 0; 
    list-style: none; 
    overflow: visible; 
} 

td.practice-areas li {
    font-family: sans-serif;
    font-size: 20px;
    width:270;
    margin: 0; 
    padding: 0 20 10; 
} 

td.practice-areas a ,
td.practice-areas a:visited
{
    background: url(../images/arrow.png) 8 0 no-repeat;
    background-color: #374e9e;
    padding: 0 40 2;
    color: white;
    display: block;
    text-decoration: none;
}

td.practice-areas a.active,  
td.practice-areas a:hover
{
    background: url(../images/arrow.png) 8 0 no-repeat;
    background-color: #b22222;
    color: white;
}

#office {
    font-family: sans-serif;
    font-size: 16px;
    width:270;
    margin: 0; 
    padding: 0 20 10; 
}

#office h1 {
    width:270;
    margin: 0; 
    padding: 0 0 10; 
}    

#office a,
#office a:visited,
#office a.active,
#office a:hover
{
    background: none;
    padding: 0;
    display: inline;
    text-decoration: underline;
    color: #bbddff;

}

#office ul {
    list-style: none; 
    overflow: visible; 
} 

#office li {
    font-family: sans-serif;
    font-size: 20px;
    width:270;
    margin: 0; 
    padding: 0 0 10; 
} 

    

#credit-cards {
    font-family: sans-serif;
    font-size: 16px;
    width:270;
    margin: 0; 
    padding: 0 20 10; 
}

#blog a {
    background: none;
}   
    

td.regular-content {
    font-family: sans-serif;
    border: 1px solid #b22222;
    padding: 10;
    margin: 0;
    background-color: #f0f2fa;
    color: black;
    vertical-align:top;
}

td.regular-content a {
    color: #1d2953;
}

td.regular-content h1 {
    color: #1d2953;
    font-size: 24;
}

tr.footer {
    font-family: sans-serif;
    background-color: black;
    color: white;
    font-size: 10;
    vertical-align:top;
    width: 855px;
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;
	position: relative;
	text-align: center;
	border: none;
}

tr.footer td {
    padding: 8;
}

tr.footer a, a:visited {
    color: #374e9e;
    padding: 10;
    text-align: center;
    font-size: 12;
}

#disclaimer {
    font-family: sans-serif;
    border: none;
    padding: 0 5 5 5;
    background-color: black;
    color: white;
    font-size: 10;
    vertical-align:top;
    width: 842px;
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;
	position: relative;
	text-align: left;
}

img {  
    border-style: none;
}




table {
    border: none;
    padding: none;
    margin: none;
    border-collapse: collapse;
    border-spacing: 0px;
}

body { 
    background: url(../images/side.png) repeat-x #9cc5c9; text-align: center; 
}
    
